* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
}

body {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  background: #f9f9f9;
  transition: background .5s ease;
}

svg {
  position: absolute;
  bottom: -1px;
  overflow: hidden;
  width: 101%;
}

p {
  text-align: justify;
}

a {
  color: #3391ff;
}

.svgfill {
  fill: #f9f9f9;
  transition: all .5s ease;
}

.switch-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 50px;
  height: 50px;
  right: 50px;
  bottom: 50px;
  z-index: 100;
  font-size: 2rem;
  border-radius: 40px;
  border: 2px solid #00bb9c;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 1s ease;
}

.light:hover {
  --hover-switch-color: #000;
  box-shadow: 0 0 10px var(--hover-switch-color), 0 0 20px var(--hover-switch-color), 0 0 50px var(--hover-switch-color);
}

.dark:hover {
  --hover-switch-color: #fff;
  box-shadow: 0 0 10px var(--hover-switch-color), 0 0 20px var(--hover-switch-color), 0 0 50px var(--hover-switch-color);
}

.dark-mode-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 63px;
  right: 110px;
  z-index: 100;
  transition: opacity .2s ease;
}

.dark-mode-text i {
  margin-left: 5px;
}

.twolines {
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstname {
  display: inline-block;
  width: 100%;
}

.lastname {
  display: inline-block;
  width: 100%;
}

.copyrights {
  color: white;
  height: 100px;
  background: #00CBA9;
}

.blockcentre {
  max-width: 1200px;
  margin: 0 auto;
}

.centvh {
  position: relative;
  display: flex;
  width: 100%;
  height: 120vh;
  background: #00CBA9;
  justify-content: center;
  align-items: center;
  overflow: hidden;
} 

.centvh span {
  position: absolute;
  pointer-events: none;
  background: #fff;
}

.centvh ul {
  color: white;
  display: flex;
  flex-direction: row;
  padding-bottom: 200px;
}

.centvh li {
  font-size: 2rem;
  font-weight: 500;
  padding: 0 10px;
  transition: .3s ease;
}

.centvh li:hover{
  cursor: default;
  transform: rotate(1turn) scale(1.5);
}

.space {
  margin-right: 30px;
}

.about-section {
  position: relative;
  margin: -50px auto 0 auto;
  height: 720px;
  overflow: hidden;
}

.about-title {
  font-size: 3rem;
  margin: 0 0 0 50px;
  font-weight: 800;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;  
}

.space-around {
  justify-content: space-around;
}

.about-divide {
  display: flex;
  flex-direction: row;
}

.green-section {
  position: relative;
  background: #00CBA9;
  overflow: hidden;
}

.date-line {
  display: flex;
  flex-direction: row;
}

.date-line:before, .date-line:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid white;
  margin: auto;
}

.date-line:before {
  margin-right: 10px
}

.date-line:after {
  margin-left: 10px
}

.about-section img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 3px;
  border: 5px solid #00CBA9;
}

.textandcv {
  width: 70%;
  overflow: hidden;
}

.margin-bottom-ten {
  margin-bottom: 10px;
}

.cv-button {
  display:inline-block;
  padding:0.3em 1.2em;
  margin: 10px 0;
  border-radius:2em;
  text-decoration:none;
  font-weight:300;
  color:#FFFFFF;
  background-color:#00CBA9;
  text-align:center;
  transition: all 0.2s;
}

.cv-button:hover{
  background-color:#00bb9c;
  cursor: pointer;
}

.cv-button:hover i {
  margin-left: 10px;
  transform: scale(1);
}

.cv-button i {
  transform: scale(0);
  overflow: hidden;
  margin-left: -15px;
  transition: transform .2s ease, margin-left .5s ease;
}

.education-section {
  position: relative;
  color: white;
  overflow: hidden;
  height: 800px;
}

.education-title {
  position: relative;
  font-size: 3rem;
  margin: 0 0 0 50px;
  font-weight: 800;
  z-index: 10;
}

.timeline div {
  overflow: hidden;
}

.projects-title {
  position: relative;
  font-size: 3rem;
  margin: 0 0 0 50px;
  font-weight: 800;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 50px;
  border-radius: 20px;
  justify-items: center;
  align-items: center;
}

.card-bg {
  background: #f1f1f1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s ease;
}

.card ul {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.card li {
  cursor: default;
  border-radius: 20px;
  margin-right: 5px;
  color: white;
  font-size: 1rem;
  padding: 0 10px;
  transition: all 1s ease;
}

.card:hover {
  cursor: pointer;
  transform: scale(.97) !important;
}

.card li:hover {
  opacity: 0.8;
}

.card > div {
  padding: 2rem;
}

.skill {
  color: transparent;
  padding: 50px;
  transition: all 1s ease;
}

.skill:hover {
  color: white;
}

.skill:hover img {
  transform: skewX(10deg);
}

@media (max-width: 900px) {
  .name {
    font-size: 2rem;
  }

  .card {
    display: block;
  }

  .centvh ul {
    padding: 0;
  }

  .centvh li {
    font-size: 1rem;
  }

  .centvh {
    height: 80vh;
  } 

  .card {
    width: 80%;
    height: 80%;
    margin: 20px auto;
    text-align: center;
  }

  .card img {
    margin-top: 10px;
  }

  .card li {
    font-size: .7rem;
  }

  .about-section p {
    width: 80%;
    margin: 0 auto;
  }

  .textandcv {
    width: 100%
  }

  .about-divide {
    display: block;
  }

  .about-section {
    height: 800px;
  }

  .switch-button {
    bottom: 10px;
    right: 10px;
  }

  .dark-mode-text {
    display: none;
  }

  .twolines {
    display: block;
  }

  .twolines ul:nth-child(1) {
    width: 80%;
    margin: 0 auto;
  }
  
  .twolines ul:nth-child(1) li {
    margin: 0 auto;
    letter-spacing: 0;
  }

  .light:hover {
    box-shadow: none;
  }
  
  .dark:hover {
    box-shadow: none;
  }

  .date-line {
    width: 90%;
    margin: 0 auto;
  }
}