/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
    font-family: "Montserratnormal";
    src: url("../fonts/Montserrat-Regular.otf");
    font-style: normal;
    font-weight: 400;
   }

   @font-face {
    font-family: "Montserratb";
    src: url("../fonts/Montserrat-Black.otf");
    font-style: normal;
    font-weight: 800;
   }

   @font-face {
    font-family: "Montserratbold";
    src: url("../fonts/Montserrat-Bold.ttf");
    font-style: bold;
    font-weight: 600;
   }

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
    scroll-behavior: smooth;
    text-decoration: none;
  }

.clickable {
    color: #00CBA9;
    font-family: "Montserratbold";
}

.clickable:hover {
    color: #005d4e;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
}

  .bar-pdf {
      display: none;
      color: white;
      font-size: 1.5rem;
      text-transform: uppercase;
      text-align: center;
      background-color: #00CBA9;
  }

  .click-pdf {
      font-weight: 800;
      color: #005d4e;
  }

  body {
    font-size: 2rem;
    font-family: 'Montserratnormal', sans-serif;
    max-width: 1920px;
    margin: 0 auto;
    border: 1px solid #00CBA9;
  }

  .small-infos {
      display: none;
  }

  .aside-top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      background: #00CBA9;
      padding: 30px 30px 0 30px;
      color: white;
  }

  .nested-aside {
      font-size: 3rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: 50px;
      font-family: "Montserratbold";
    }
  
  .iam-picture {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-right: -40px;
  }

  .iam-picture img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 3px;
    border: 5px solid #00CBA9;
}

.name-jobs {
    text-align: right;
}

.name-jobs div {
    margin-bottom: 8px;
}

  .fakecode {
    color: #005d4e;
  }

  .waves-svg {
      margin-top: -1px;
      margin-bottom: -180px;
  }

  .line {
      border-bottom: 1px solid black;
      display: block;
      -webkit-box-flex:1;
          -ms-flex-positive:1;
              flex-grow:1;
      height: 1px;
      background-color: black;
  }

  .line-title{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 95%;
    margin: 0 auto;
  }

  .title{
    -webkit-box-flex:0;
        -ms-flex-positive:0;
            flex-grow:0;
    font-family: 'Montserratb', sans-serif;
    font-size: 6rem;
    color: rgba(0,0,0, .3);
}

  .little-title{
    -webkit-box-flex:0;
        -ms-flex-positive:0;
            flex-grow:0;
    font-family: 'Montserratb', sans-serif;
    font-size: 3rem;
    color: rgba(0,0,0, .3);
  }

  .card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      max-width: 95%;
      margin: 0 auto 50px auto;
      font-size: 3rem;
  }

  .right-date {
      font-size: 1.5rem;
      margin-top: 20px;
  }

  .bold {
      font-family: "Montserratbold";
  }

  .place {
      font-size: 1.5rem;
      font-style: italic;
  }

  .employee-place {
    font-size: 1.5rem;
    font-style: italic;
}

  .education-info {
      padding: 5px 0;
  }
  .skill {
      color: white;
      font-size: 1.5rem;
      border-radius: 30px;
      padding: 8px 12px;
    }
    
    .skill-1 {
        background-color: #5CB8C7;
    }

    .skill-2 {
        background-color: #CB005F;
    }

    .skill-3 {
        background-color: #1D4EC2;
    }

    .student-jobs {
        max-width: 96%;
        font-family: "Montserratb";
        margin: -20px auto 0 auto;
        text-align: right;
        letter-spacing: 9px;
        color: rgba(0,0,0, .3);
    }

    .experience-info {
        font-size: 1.5rem;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
    }

    .projects-info {
        font-size: 1.5rem;
    }

    .projects-info li {
        margin-bottom: 15px;
    }

    .little-cards {
        max-width: 95%;
        margin: 0 auto;
        font-size: 3rem;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 200px 1fr 200px 1fr 200px 1fr;
        grid-template-columns: repeat(4, 1fr);
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 200px;
        grid-row-gap: 0px;
    }

    .little-cards > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    }

    .little-cards > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    }

    .little-cards > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    }

    .little-cards > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
    }

    .little-card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
        
    .proxy, .helmo-app { -ms-grid-row: 1; -ms-grid-row-span: 1; -ms-grid-column: 1; -ms-grid-column-span: 2; grid-area: 1 / 1 / 2 / 3; }
    .carrefour, .what-learned { -ms-grid-row: 1; -ms-grid-row-span: 1; -ms-grid-column: 3; -ms-grid-column-span: 2; grid-area: 1 / 3 / 2 / 5; }

    .colors-template {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .colors-template li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-right: 50px;
    }

    .circle {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

    .advanced {
        background: #D6424C;
    }

    .intermediate {
        background: #4858C1;
    }

    .beginner {
        background: #50A767;
    }

      .wrapper {
         display: -ms-grid;
         display: grid;
         grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
        grid-column-gap: 60px;
        grid-row-gap:60px;
        max-width: 95%;
        margin: 0 auto;
      }
      
      .colored-bubbles li {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        font-size: 2rem;
        margin-bottom: 5px;
        padding: 10px 15px;
      }

     .language-line {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-pack: justify;
             -ms-flex-pack: justify;
                 justify-content: space-between;
         max-width: 500px;
     }

     @media (max-width: 1749px) {
        .hidden {
            display: none;
        }
     }

     @media (max-width: 1600px) {
         .nested-aside {
             font-size: 2rem;
         }

         .personal-infos {
             font-size: 1.5rem;
         }

     }

     @media (max-width: 1400px) {
        .place::before {
            content: '\a';
            white-space: pre;
        }

        .experience-info, .projects-info {
            margin-top: 20px;
        }
    }

    @media (max-width: 1235px) {
        .nested-aside {
            font-size: 1.8rem;
        }

        .personal-infos {
            font-size: 1.3rem;
        }

        .title {
            font-size: 5rem;
        }

        .student-jobs {
            font-size: 1.5rem;
        }

        .colored-bubbles li {
            font-size: 1.5rem;
        }
    }

    @media (max-width: 1150px) {
        .bar-pdf {
            display: block;
        }

        .nested-aside {
            font-size: 1.5rem;
        }

        .nested-aside img {
            width: 130px;
            height: 130px;
        }

        .personal-infos {
            font-size: 1rem;
        }

        .little-cards {
            font-size: 2rem;
        }

        .skill {
            font-size: 1.2rem;
        }

        .colored-bubbles li {
            font-size: 1.2rem;
        }

        .title {
            font-size: 4rem;
        }

        .little-title {
            font-size: 2.5rem;
        }

        .student-jobs {
            font-size: 1.14rem;
            margin: -15px auto 0 auto;
            letter-spacing: 8px;
        }
        
        .waves-svg {
            margin-bottom: -100px;
        }
    }

    @media (max-width: 1000px) {
        .skill {
            font-size: 1rem;
        }
    }

    @media (max-width: 915px) {
        .title {
            font-size: 3rem;
        }

        .little-title {
            font-size: 2rem;
        }

        .box ul {
            font-size: 1.5rem;
        }

        .language-line {
            font-size: 1.5rem;
        }

        .student-jobs {
            font-size: .7rem;
            margin: -10px auto 0 auto;
            letter-spacing: 8px;
        }

       .projects-info, .employee-place {
           font-size: 1rem;
       }

      .proxy .right-date, .carrefour .right-date, .proxy .experience-info, .carrefour .experience-info {
          font-size: 1rem;
      }

      .proxy .left-info .bold, .carrefour .left-info .bold {
          font-size: 1.3rem;
      }

      .education-title {
          font-size: 2rem;
      }

      .education-title .place, .experience-info {
          font-size: 1rem;
      }

      .skill {
          margin-bottom: 20px;
      }
        .aside-top {
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }

        .nested-aside, .personal-infos {
            margin: 0 auto;
        }

        .personal-infos {
            font-size: 1.5rem;
        }

        .nested-aside, .name-jobs {
            font-size: 2rem;
        }

        .nested-aside img{
            height: 150px;
            width: 150px;
        }

        .colors-template {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }

        .first-box {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }

        .colors-template li {
            margin: 0;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }

        .wrapper{
            grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        }

       .little-cards {
           grid-column-gap: 100px;
       }
    }

    @media (max-width: 705px) {
        .card, .little-card {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }

        .personal-infos {
            font-size: 1.2rem;
        }

        .waves-svg {
            margin-bottom: -50px;
        }
    }

    @media (max-width: 570px) {
        .personal-infos, .colored-bubbles li {
            font-size: 1rem;
        }

        .right-date {
            font-size: 1.2rem;
        }

        .wrapper {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }
    }

    @media (max-width: 485px) {
        .nested-aside, .name-jobs {
            font-size: 1.2rem;
        }

        .force-space:before {
            content: '\a';
            white-space: pre;
        }

        .big-infos {
            display: none;
        }

        .small-infos {
            display: block;
        }
    }

    @media (max-width: 425px) {
        .colored-bubbles li {
            font-size: .8rem;
        }

        .title {
            font-size: 2.5rem;
        }

        .student-jobs {
            font-size: .6rem;
            margin: -10px auto 0 auto;
            letter-spacing: 6px;
        }

        .little-cards {
            grid-column-gap: 30px;
        }
    }